# Light And Shadow. A Persistent Universe based on Robert Jordan's Wheel of Time Books.
# Copyright (C) 2001 - WOTLAS Team


  # Variable: help docs path.
  # Tells where are stored the help docs.
  # The default value is '../docs/help'.

    init.helpPath = ../docs/help

