# Light And Shadow. A Persistent Universe based on Robert Jordan's Wheel of Time Books.
# Copyright (C) 2001 - WOTLAS Team

# ------------------------------------------------------------------------------------

 # SERVER INIT PROPERTIES

  # Variable: help docs path.
  # Tells where are stored the help docs.
  # The default value is '../docs/help'.

    init.helpPath = ../docs/help


  # Variable: server ID - The identifier we'll use for this server.
  # This is the server identifier that links to the file in $basePath$/servers/
  # that has the same id ( server-<id>.cfg ). A server ID set to 0 means that
  # the server is local ( not enabled to communicate with other servers ).
  # The default value is 0 (local).

    init.serverID = 0


  # Variable: Persistence period (in hours)
  # Each time this period is over we save world & player data to disk
  # The default value is 24 hours.

    init.persistencePeriod = 24


  # Variable: Class of the Bot Chat Service
  # This defines the service to use to provide chat answers fro bots.
  # The default value is wotlas.server.bots.LoopBackBotChatService
  # To reach an Alice Server use the wotlas.server.bots.alice.AliceBotChatService

    init.botChatServiceClass = wotlas.server.bots.alice.AliceBotChatService

# ------------------------------------------------------------------------------------

 # BOTS PROPERTIES

  # Variables : Bot Control Key
  # This password gives access to all kind of bot actions/creation.
  # Please don't edit it ! the password is generated by the server at start-up
  # and is updated every 24 hours.

    bots.controlKey =F59452PHB9ZV1GV0443V6ZA


  # Variable: AliceBot Host
  # This defines the IP or DNS name of the AliceBot chat host.
  # The default value is : localhost

    bots.aliceHost = msks


  # Variable: AliceBot Port
  # This defines the port on which the AliceBot listens.
  # The default value is : 21121

    bots.alicePort = 21121


# ------------------------------------------------------------------------------------

 # SPECIAL CHARACTERS

  # Variables : Special Characters Keys
  # Please don't edit these keys. They are changed by the wotlas
  # server every 24 hours ans at start-up. They give access to the
  # special characters creation.

    key.shaitan    =H5YFV2C9V5492E838EBDFA1
    key.amyrlin    =768P2B2J9TH5R0JLKCHX4H3
    key.chronicles =IC7QXS7A26437A98B34P7CC
    key.mhael      =3Z77O534Q0BRBGWZ964731K

# ------------------------------------------------------------------------------------