# Light And Shadow. A Persistent Universe based on Robert Jordan's Wheel of Time Books.
# Copyright (C) 2001 - WOTLAS Team

# ------------------------------------------------------------------------------------

 # SERVER INIT PROPERTIES

  # Variable: help docs path.
  # Tells where are stored the help docs.
  # The default value is '../docs/help'.

    init.helpPath = ../docs/help


  # Variable: server ID - The identifier we'll use for this server.
  # This is the server identifier that links to the file in $basePath$/servers/
  # that has the same id ( server-<id>.cfg ). A server ID set to 0 means that
  # the server is local ( not enabled to communicate with other servers ).
  # The default value is 0 (local).

    init.serverID = 0


  # Variable: Persistence period (in hours)
  # Each time this period is over we save world & player data to disk
  # The default value is 24 hours.

    init.persistencePeriod = 24


  # Variable: Class of the Bot Chat Service
  # This defines the service to use to provide chat answers fro bots.
  # The default value is wotlas.server.bots.LoopBackBotChatService
  # To reach an Alice Server use the wotlas.server.bots.alice.client.AliceBotChatService
  # and don't forget to set the host name & port properties below in this file.

    init.botChatServiceClass = wotlas.server.bots.alice.client.AliceBotChatService


# ------------------------------------------------------------------------------------

 # BOTS PROPERTIES

  # Variables : Bot Control Key
  # This password gives access to all kind of bot actions/creation.
  # Please don't edit it ! the password is generated by the server at start-up
  # and is updated every 24 hours.

    bots.controlKey =11EGX0N5HG2DSE4936B3QWG


  # Variable: AliceBot Host
  # This defines the IP or DNS name of the AliceBot chat host.
  # The default value is : localhost

    bots.aliceHost = localhost


  # Variable: AliceBot Port
  # This defines the port on which the AliceBot Wotlas Server listens.
  # The default value is : 21121

    bots.alicePort = 21121


# ------------------------------------------------------------------------------------

 # SPECIAL CHARACTERS

  # Variables : Special Characters Keys
  # Please don't edit these keys. They are changed by the wotlas
  # server every 24 hours ans at start-up. They give access to the
  # special characters creation.

    key.shaitan    =UG6RPH4GJD16426931K59F3
    key.amyrlin    =2Y12241G64E48767973YHR9
    key.chronicles =PI5O3D930NA6J7PQDZW464N
    key.mhael      =3U7OF9X59D9H957Y26A1V13

# ------------------------------------------------------------------------------------