# Light And Shadow. A Persistent Universe based on Robert Jordan's Wheel of Time Books.
# Copyright (C) 2001 - WOTLAS Team


  # Variable: Database Path.
  # Tells where to find the game data.
  # The default value is '../base'.

    DATABASE_PATH = ../base


  # Variable: Server ID
  # This is the server identifier that links to the file in $BASE$/servers/
  # that has the same id ( server-<id>.cfg ). A server ID set to 0 means that
  # the server is local ( not abled to communicate with other servers ).
  # The default value is 0.
  
    SERVER_ID =0


  # Special Player Keys. Please don't edit these keys. They are changed by the
  # server every 24 hours.

    key.shaitan    =0ZW73P98SEF2IBFE0SG46E9
    key.amyrlin    =446TI5699901MP34V39879R
    key.chronicles =LUTU2JBNKY786407LPUWS1Q
    key.mhael      =D971NJ7OBL295442099ID2N
