#WotLas 1.0 Saved Object
#Fri Dec 21 17:44:48 CET 2007
class=wotlas.common.universe.InteriorMap
fullName=White\ Tower\ -\ North\ Basement
imageHeight=760
imageRegionHeight=190
imageRegionWidth=500
imageWidth=500
interiorMapID=2
interiorMapImage.class=wotlas.libs.graphics2d.ImageIdentifier
interiorMapImage.dirPersistenceIds.0=1
interiorMapImage.dirPersistenceIds.1=2
interiorMapImage.dirPersistenceIds.2=16
interiorMapImage.dirPersistenceIds=3
interiorMapImage.imageId=0
interiorMapImage.isAnimation=false
musicName=dark-basement.mid
rooms.0.class=wotlas.common.universe.Room
rooms.0.fullName=White\ Tower\ -\ Basement\ Stairs
rooms.0.insertionPoint.class=wotlas.utils.ScreenPoint
rooms.0.insertionPoint.x=340
rooms.0.insertionPoint.y=50
rooms.0.mapExits.0.class=wotlas.common.universe.MapExit
rooms.0.mapExits.0.height=80
rooms.0.mapExits.0.mapExitID=0
rooms.0.mapExits.0.mapExitSide=0
rooms.0.mapExits.0.requiredKnowledgeID=0
rooms.0.mapExits.0.targetOrientation=0.0
rooms.0.mapExits.0.targetPosition.class=wotlas.utils.ScreenPoint
rooms.0.mapExits.0.targetPosition.x=650
rooms.0.mapExits.0.targetPosition.y=40
rooms.0.mapExits.0.targetWotlasLocation.buildingID=4
rooms.0.mapExits.0.targetWotlasLocation.class=wotlas.common.universe.WotlasLocation
rooms.0.mapExits.0.targetWotlasLocation.interiorMapID=0
rooms.0.mapExits.0.targetWotlasLocation.roomID=20
rooms.0.mapExits.0.targetWotlasLocation.townMapID=0
rooms.0.mapExits.0.targetWotlasLocation.worldMapID=0
rooms.0.mapExits.0.type=0
rooms.0.mapExits.0.width=20
rooms.0.mapExits.0.x=450
rooms.0.mapExits.0.y=20
rooms.0.mapExits=1
rooms.0.maxPlayers=30
rooms.0.roomID=0
rooms.0.roomLinks.0.class=wotlas.common.universe.RoomLink
rooms.0.roomLinks.0.height=80
rooms.0.roomLinks.0.room1ID=1
rooms.0.roomLinks.0.room2ID=0
rooms.0.roomLinks.0.roomLinkID=75
rooms.0.roomLinks.0.width=10
rooms.0.roomLinks.0.x=190
rooms.0.roomLinks.0.y=20
rooms.0.roomLinks=1
rooms.0.shortName=basement-stairs
rooms.1.class=wotlas.common.universe.Room
rooms.1.fullName=White\ Tower\ -\ North\ Basement
rooms.1.insertionPoint.class=wotlas.utils.ScreenPoint
rooms.1.insertionPoint.x=100
rooms.1.insertionPoint.y=140
rooms.1.mapExits.0.class=wotlas.common.universe.MapExit
rooms.1.mapExits.0.height=20
rooms.1.mapExits.0.mapExitID=0
rooms.1.mapExits.0.mapExitSide=0
rooms.1.mapExits.0.requiredKnowledgeID=0
rooms.1.mapExits.0.targetOrientation=1.5707964
rooms.1.mapExits.0.targetPosition.class=wotlas.utils.ScreenPoint
rooms.1.mapExits.0.targetPosition.x=380
rooms.1.mapExits.0.targetPosition.y=30
rooms.1.mapExits.0.targetWotlasLocation.buildingID=4
rooms.1.mapExits.0.targetWotlasLocation.class=wotlas.common.universe.WotlasLocation
rooms.1.mapExits.0.targetWotlasLocation.interiorMapID=1
rooms.1.mapExits.0.targetWotlasLocation.roomID=1
rooms.1.mapExits.0.targetWotlasLocation.townMapID=0
rooms.1.mapExits.0.targetWotlasLocation.worldMapID=0
rooms.1.mapExits.0.type=0
rooms.1.mapExits.0.width=160
rooms.1.mapExits.0.x=10
rooms.1.mapExits.0.y=740
rooms.1.mapExits=1
rooms.1.maxPlayers=30
rooms.1.roomID=1
rooms.1.roomLinks.0.class=wotlas.common.universe.RoomLink
rooms.1.roomLinks.0.door.class=wotlas.common.universe.Door
rooms.1.roomLinks.0.door.doorImage.class=wotlas.libs.graphics2d.ImageIdentifier
rooms.1.roomLinks.0.door.doorImage.dirPersistenceIds.0=2
rooms.1.roomLinks.0.door.doorImage.dirPersistenceIds.1=0
rooms.1.roomLinks.0.door.doorImage.dirPersistenceIds.2=5
rooms.1.roomLinks.0.door.doorImage.dirPersistenceIds=3
rooms.1.roomLinks.0.door.doorImage.imageId=0
rooms.1.roomLinks.0.door.doorImage.isAnimation=false
rooms.1.roomLinks.0.door.doorType=0
rooms.1.roomLinks.0.door.hasLock=false
rooms.1.roomLinks.0.door.variationAngle=-1.5707964
rooms.1.roomLinks.0.door.x=171
rooms.1.roomLinks.0.door.y=120
rooms.1.roomLinks.0.height=40
rooms.1.roomLinks.0.room1ID=1
rooms.1.roomLinks.0.room2ID=2
rooms.1.roomLinks.0.roomLinkID=76
rooms.1.roomLinks.0.width=10
rooms.1.roomLinks.0.x=170
rooms.1.roomLinks.0.y=120
rooms.1.roomLinks.1.class=wotlas.common.universe.RoomLink
rooms.1.roomLinks.1.door.class=wotlas.common.universe.Door
rooms.1.roomLinks.1.door.doorImage.class=wotlas.libs.graphics2d.ImageIdentifier
rooms.1.roomLinks.1.door.doorImage.dirPersistenceIds.0=2
rooms.1.roomLinks.1.door.doorImage.dirPersistenceIds.1=0
rooms.1.roomLinks.1.door.doorImage.dirPersistenceIds.2=5
rooms.1.roomLinks.1.door.doorImage.dirPersistenceIds=3
rooms.1.roomLinks.1.door.doorImage.imageId=0
rooms.1.roomLinks.1.door.doorImage.isAnimation=false
rooms.1.roomLinks.1.door.doorType=0
rooms.1.roomLinks.1.door.hasLock=false
rooms.1.roomLinks.1.door.variationAngle=-1.5707964
rooms.1.roomLinks.1.door.x=171
rooms.1.roomLinks.1.door.y=680
rooms.1.roomLinks.1.height=40
rooms.1.roomLinks.1.room1ID=1
rooms.1.roomLinks.1.room2ID=3
rooms.1.roomLinks.1.roomLinkID=77
rooms.1.roomLinks.1.width=10
rooms.1.roomLinks.1.x=170
rooms.1.roomLinks.1.y=680
rooms.1.roomLinks.2.class=wotlas.common.universe.RoomLink
rooms.1.roomLinks.2.height=80
rooms.1.roomLinks.2.room1ID=1
rooms.1.roomLinks.2.room2ID=0
rooms.1.roomLinks.2.roomLinkID=75
rooms.1.roomLinks.2.width=10
rooms.1.roomLinks.2.x=190
rooms.1.roomLinks.2.y=20
rooms.1.roomLinks=3
rooms.1.shortName=basement-north
rooms.2.class=wotlas.common.universe.Room
rooms.2.fullName=White\ Tower\ -\ Basement\ Store
rooms.2.insertionPoint.class=wotlas.utils.ScreenPoint
rooms.2.insertionPoint.x=300
rooms.2.insertionPoint.y=130
rooms.2.maxPlayers=30
rooms.2.roomID=2
rooms.2.roomLinks.0.class=wotlas.common.universe.RoomLink
rooms.2.roomLinks.0.door.class=wotlas.common.universe.Door
rooms.2.roomLinks.0.door.doorImage.class=wotlas.libs.graphics2d.ImageIdentifier
rooms.2.roomLinks.0.door.doorImage.dirPersistenceIds.0=2
rooms.2.roomLinks.0.door.doorImage.dirPersistenceIds.1=0
rooms.2.roomLinks.0.door.doorImage.dirPersistenceIds.2=5
rooms.2.roomLinks.0.door.doorImage.dirPersistenceIds=3
rooms.2.roomLinks.0.door.doorImage.imageId=0
rooms.2.roomLinks.0.door.doorImage.isAnimation=false
rooms.2.roomLinks.0.door.doorType=0
rooms.2.roomLinks.0.door.hasLock=false
rooms.2.roomLinks.0.door.variationAngle=-1.5707964
rooms.2.roomLinks.0.door.x=171
rooms.2.roomLinks.0.door.y=120
rooms.2.roomLinks.0.height=40
rooms.2.roomLinks.0.room1ID=1
rooms.2.roomLinks.0.room2ID=2
rooms.2.roomLinks.0.roomLinkID=76
rooms.2.roomLinks.0.width=10
rooms.2.roomLinks.0.x=170
rooms.2.roomLinks.0.y=120
rooms.2.roomLinks=1
rooms.2.shortName=basement-store
rooms.3.class=wotlas.common.universe.Room
rooms.3.fullName=White\ Tower\ -\ Basement\ Store
rooms.3.insertionPoint.class=wotlas.utils.ScreenPoint
rooms.3.insertionPoint.x=230
rooms.3.insertionPoint.y=690
rooms.3.maxPlayers=30
rooms.3.roomID=3
rooms.3.roomLinks.0.class=wotlas.common.universe.RoomLink
rooms.3.roomLinks.0.door.class=wotlas.common.universe.Door
rooms.3.roomLinks.0.door.doorImage.class=wotlas.libs.graphics2d.ImageIdentifier
rooms.3.roomLinks.0.door.doorImage.dirPersistenceIds.0=2
rooms.3.roomLinks.0.door.doorImage.dirPersistenceIds.1=0
rooms.3.roomLinks.0.door.doorImage.dirPersistenceIds.2=0
rooms.3.roomLinks.0.door.doorImage.dirPersistenceIds=3
rooms.3.roomLinks.0.door.doorImage.imageId=2
rooms.3.roomLinks.0.door.doorImage.isAnimation=false
rooms.3.roomLinks.0.door.doorType=2
rooms.3.roomLinks.0.door.hasLock=false
rooms.3.roomLinks.0.door.variationAngle=-1.5707964
rooms.3.roomLinks.0.door.x=320
rooms.3.roomLinks.0.door.y=660
rooms.3.roomLinks.0.height=10
rooms.3.roomLinks.0.room1ID=4
rooms.3.roomLinks.0.room2ID=3
rooms.3.roomLinks.0.roomLinkID=78
rooms.3.roomLinks.0.width=30
rooms.3.roomLinks.0.x=320
rooms.3.roomLinks.0.y=660
rooms.3.roomLinks.1.class=wotlas.common.universe.RoomLink
rooms.3.roomLinks.1.door.class=wotlas.common.universe.Door
rooms.3.roomLinks.1.door.doorImage.class=wotlas.libs.graphics2d.ImageIdentifier
rooms.3.roomLinks.1.door.doorImage.dirPersistenceIds.0=2
rooms.3.roomLinks.1.door.doorImage.dirPersistenceIds.1=0
rooms.3.roomLinks.1.door.doorImage.dirPersistenceIds.2=5
rooms.3.roomLinks.1.door.doorImage.dirPersistenceIds=3
rooms.3.roomLinks.1.door.doorImage.imageId=0
rooms.3.roomLinks.1.door.doorImage.isAnimation=false
rooms.3.roomLinks.1.door.doorType=0
rooms.3.roomLinks.1.door.hasLock=false
rooms.3.roomLinks.1.door.variationAngle=-1.5707964
rooms.3.roomLinks.1.door.x=171
rooms.3.roomLinks.1.door.y=680
rooms.3.roomLinks.1.height=40
rooms.3.roomLinks.1.room1ID=1
rooms.3.roomLinks.1.room2ID=3
rooms.3.roomLinks.1.roomLinkID=77
rooms.3.roomLinks.1.width=10
rooms.3.roomLinks.1.x=170
rooms.3.roomLinks.1.y=680
rooms.3.roomLinks=2
rooms.3.shortName=basement-store
rooms.4.class=wotlas.common.universe.Room
rooms.4.fullName=White\ Tower\ -\ Restricted\ Access\ Store
rooms.4.insertionPoint.class=wotlas.utils.ScreenPoint
rooms.4.insertionPoint.x=330
rooms.4.insertionPoint.y=600
rooms.4.maxPlayers=30
rooms.4.roomID=4
rooms.4.roomLinks.0.class=wotlas.common.universe.RoomLink
rooms.4.roomLinks.0.door.class=wotlas.common.universe.Door
rooms.4.roomLinks.0.door.doorImage.class=wotlas.libs.graphics2d.ImageIdentifier
rooms.4.roomLinks.0.door.doorImage.dirPersistenceIds.0=2
rooms.4.roomLinks.0.door.doorImage.dirPersistenceIds.1=0
rooms.4.roomLinks.0.door.doorImage.dirPersistenceIds.2=7
rooms.4.roomLinks.0.door.doorImage.dirPersistenceIds=3
rooms.4.roomLinks.0.door.doorImage.imageId=0
rooms.4.roomLinks.0.door.doorImage.isAnimation=false
rooms.4.roomLinks.0.door.doorType=3
rooms.4.roomLinks.0.door.hasLock=false
rooms.4.roomLinks.0.door.variationAngle=1.5707964
rooms.4.roomLinks.0.door.x=320
rooms.4.roomLinks.0.door.y=550
rooms.4.roomLinks.0.height=10
rooms.4.roomLinks.0.room1ID=5
rooms.4.roomLinks.0.room2ID=4
rooms.4.roomLinks.0.roomLinkID=79
rooms.4.roomLinks.0.width=30
rooms.4.roomLinks.0.x=320
rooms.4.roomLinks.0.y=550
rooms.4.roomLinks.1.class=wotlas.common.universe.RoomLink
rooms.4.roomLinks.1.door.class=wotlas.common.universe.Door
rooms.4.roomLinks.1.door.doorImage.class=wotlas.libs.graphics2d.ImageIdentifier
rooms.4.roomLinks.1.door.doorImage.dirPersistenceIds.0=2
rooms.4.roomLinks.1.door.doorImage.dirPersistenceIds.1=0
rooms.4.roomLinks.1.door.doorImage.dirPersistenceIds.2=0
rooms.4.roomLinks.1.door.doorImage.dirPersistenceIds=3
rooms.4.roomLinks.1.door.doorImage.imageId=2
rooms.4.roomLinks.1.door.doorImage.isAnimation=false
rooms.4.roomLinks.1.door.doorType=2
rooms.4.roomLinks.1.door.hasLock=false
rooms.4.roomLinks.1.door.variationAngle=-1.5707964
rooms.4.roomLinks.1.door.x=320
rooms.4.roomLinks.1.door.y=660
rooms.4.roomLinks.1.height=10
rooms.4.roomLinks.1.room1ID=4
rooms.4.roomLinks.1.room2ID=3
rooms.4.roomLinks.1.roomLinkID=78
rooms.4.roomLinks.1.width=30
rooms.4.roomLinks.1.x=320
rooms.4.roomLinks.1.y=660
rooms.4.roomLinks=2
rooms.4.shortName=basement-store
rooms.5.class=wotlas.common.universe.Room
rooms.5.fullName=White\ Tower\ -\ Secret\ Store
rooms.5.insertionPoint.class=wotlas.utils.ScreenPoint
rooms.5.insertionPoint.x=320
rooms.5.insertionPoint.y=400
rooms.5.mapExits.0.class=wotlas.common.universe.MapExit
rooms.5.mapExits.0.height=20
rooms.5.mapExits.0.mapExitID=0
rooms.5.mapExits.0.mapExitSide=0
rooms.5.mapExits.0.requiredKnowledgeID=0
rooms.5.mapExits.0.targetOrientation=-1.5707964
rooms.5.mapExits.0.targetPosition.class=wotlas.utils.ScreenPoint
rooms.5.mapExits.0.targetPosition.x=375
rooms.5.mapExits.0.targetPosition.y=330
rooms.5.mapExits.0.targetWotlasLocation.buildingID=4
rooms.5.mapExits.0.targetWotlasLocation.class=wotlas.common.universe.WotlasLocation
rooms.5.mapExits.0.targetWotlasLocation.interiorMapID=3
rooms.5.mapExits.0.targetWotlasLocation.roomID=0
rooms.5.mapExits.0.targetWotlasLocation.townMapID=0
rooms.5.mapExits.0.targetWotlasLocation.worldMapID=0
rooms.5.mapExits.0.type=0
rooms.5.mapExits.0.width=50
rooms.5.mapExits.0.x=320
rooms.5.mapExits.0.y=330
rooms.5.mapExits=1
rooms.5.maxPlayers=30
rooms.5.roomID=5
rooms.5.roomLinks.0.class=wotlas.common.universe.RoomLink
rooms.5.roomLinks.0.door.class=wotlas.common.universe.Door
rooms.5.roomLinks.0.door.doorImage.class=wotlas.libs.graphics2d.ImageIdentifier
rooms.5.roomLinks.0.door.doorImage.dirPersistenceIds.0=2
rooms.5.roomLinks.0.door.doorImage.dirPersistenceIds.1=0
rooms.5.roomLinks.0.door.doorImage.dirPersistenceIds.2=7
rooms.5.roomLinks.0.door.doorImage.dirPersistenceIds=3
rooms.5.roomLinks.0.door.doorImage.imageId=0
rooms.5.roomLinks.0.door.doorImage.isAnimation=false
rooms.5.roomLinks.0.door.doorType=3
rooms.5.roomLinks.0.door.hasLock=false
rooms.5.roomLinks.0.door.variationAngle=1.5707964
rooms.5.roomLinks.0.door.x=320
rooms.5.roomLinks.0.door.y=550
rooms.5.roomLinks.0.height=10
rooms.5.roomLinks.0.room1ID=5
rooms.5.roomLinks.0.room2ID=4
rooms.5.roomLinks.0.roomLinkID=79
rooms.5.roomLinks.0.width=30
rooms.5.roomLinks.0.x=320
rooms.5.roomLinks.0.y=550
rooms.5.roomLinks=1
rooms.5.shortName=basement-store
rooms=6
shortName=wt-basement-1
